/* Style the entire page */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(
        to bottom,
        #dfa1f6,
        #eec2e4);
    color: #333333;
    margin: 40px;
    line-height: 1.6;
}

/* Main heading */
h1 {
    color: #b85c8b;
    text-align: center;
}

/* Section headings */
h2 {
    color: #7a4f9a;
    border-bottom: 2px solid #e6d5f0;
    padding-bottom: 5px;
}

/* Paragraph styling */
p {
    font-size: 18px;
}

/* List styling */
ul {
    background-color: #f7eefc;
    padding: 20px;
    border-radius: 10px;
}

/* Link styling */
a {
    color: white;
    background-color: #b85c8b;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Mouse hover effect */
a:hover {
    background-color: #94446d;
}

/* Crochet image */
.project-image {
    margin-top: 30px;
}

/* Unordered list - goals */
ul li {
    margin-bottom: 10px;
}

/* Profile image in circle */
.profile-image {
    display: block;
    margin: 20px auto;
    width: 200px;
    border-radius: 50%;
    border: 4px solid #b85c8b;
}

/* Footer format */
footer {
    margin-top: 40px;
    text-align: center;
    color: #666;
    font-size: 14px;
}

/* Containerise to centre and improve readability */
.container {
    max-width: 800px;
    margin: auto;
}